/*! model arama başlangıcı */
.model-arama {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.model-arama::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.model-wrapper {
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  padding: 30px;
}

.model-arama .model-basligi {
  font-size: 30px;
  font-weight: 600;
}

.model-arama .model-text {
  font-size: 14px;
  color: #7a7a7a;
  padding-bottom: 15px;
  border-bottom: 1px solid #dee0ea;
}

.model-arama .arama-bicimi {
  margin-top: 15px;
  display: flex;
  position: relative;
}

.model-arama .arama-bicimi::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #dee0ea;
  position: absolute;
  bottom: -15px;
}

.model-arama .arama-bicimi input {
  width: 100%;
  max-height: 42px;
  border-color: #dee0ea !important;
}

.model-arama .arama-bicimi button {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dee0ea;
}

.model-arama .arama-bicimi button i {
  font-size: 18px;
  color: #7a7a7a;
}

.model-arama .arama-sonuclari {
  margin-top: 30px;
}

.model-arama .arama-basligi {
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #dee0ea;
}

.model-arama .arama-basligi h3 {
  font-size: 16px;
  font-weight: 600;
}

.model-arama .sonuclar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-left: 1px solid #dee0ea;
}

.model-arama .sonuclar .sonuclar-item {
  display: flex;
  column-gap: 15px;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #dee0ea;
  border-right: 1px solid #dee0ea;
  transition: backgrond-color 0.2s ease;
}

.model-arama .sonuclar .sonuclar-item:hover {
  background-color: #f9f9f9;
}

.model-arama .arama-tuhmb {
  max-width: 65px;
  width: 100%;
}

.model-arama .arama-bilgisi {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.model-arama .arama-uk {
  color: #7a7a7a;
  margin: 2px 0;
}

.model-arama .arama-ucret {
  font-weight: 600;
  color: #dc3545;
}

.model-arama .bi-x-circle {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/*! model arama bitişi */

/* Arama Duyarlı Tasarım */

@media (max-width: 992px) {
  .model-arama .model-wrapper {
    max-width: 370px;
  }

  .model-arama .sonuclar {
    grid-template-columns: 1fr;
  }
}
